html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    padding: 0px;
}
%FlexNav {
    color: white;
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}
%NavHover {
    color: #ff4655;
    transition: all .5s ease-in-out;
}
%Caption {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    caption-side: top;
    padding: 0px;
    color: white;
    text-align: center;
    background-color: #1E1E1E;
}
%Equipos {
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;
}
.Header {
    @extend %FlexNav;
    ul {
        display: inline-flex;
        list-style-type: none;
        justify-content: center;
        li {
            a{
                text-decoration: none;
                color: white;
                padding-left: 15px;
                &:hover {
                    @extend %NavHover
                }   
            }   
        }
    }
}
.Headertop {
    ul {
        
        li {
            @extend %FlexNav;
            color: white;
            i {
                text-decoration: none;
                color: white;
                padding-left: 15px;
                &:hover {
                    @extend %NavHover
                }          
            }
        }
    }
    
}
.riotgameslogo {
    width: 60px;
}
.Main {
    background-image: url(../images/china1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0px 0px 0px;
}
.col-12 {
    padding: 0px;
}
.Footer {
    width: 100%;
    height: 50px;
    background-color: #121212;
    padding: 0;
    margin: 0;
}
.row {
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    .col-3-Home {
        padding: 0;
        display: flex;
        width: 230px;
        height: 320px;
        background-color: #1E1E1E;
        box-shadow: 16px 20px 20px #121212;
        justify-content: center;
        align-items: center;
        margin: 10px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            height: 400px;
            width: 400px;
            background-image: conic-gradient(#ff4655 20deg, transparent 120deg);
            animation: rotar 2s linear infinite;
        }
        &::after {
            content: "";
            position: absolute;
            height: 318px;
            width: 228px;
            background-color: #1E1E1E;
            border-radius: 10px;
        }
        @keyframes rotar {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
        }
        .TeamsHome {
            border-collapse: collapse;
            color: white;
            width: 100%;
            height: 210px;
            z-index: 2;
            .CaptionIndex  {
    
                width: 80%;
                
                margin: 0px 20px;
              }
              .leviatan {
                background-image:url(../icons/champions2024/championsteams/lev.png);
                background-repeat: no-repeat;
                background-position: center;
                block-size: cover;
                   .Players {
                    align-items: center;
                    opacity: 0;
                    &:hover {
                        opacity: 1;
                    transition: all .5s ease-in-out;
                    }
                    .Jugadores {
                        display: flex;
                        width: 100%;
                        list-style-type: none;
                        height: 48px;
                        justify-content: flex-start;
                        align-items: center;
                        opacity: 1;
                        background-color: #1E1E1E;
                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                            padding: 0;
                            transition: all .3s ease-in-out;
                            background-color: #121212;
                            }
                        }
                    .pais {
                        padding: 10px;
                      }
                      .paisicon {
                        width: 25px;
                    }
                }
            }
            .stages {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 20px;
            }
        }
            
    }
}




  
  caption  {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    caption-side: top;
    padding: 0px;
    color: white;
  }

