
html, body {
  font-family: Tahoma;
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 575.98px) {
  iframe {
    width: 400px;
    height: 300px;
  }
  .col-12 .Header {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }
}

.container {
  max-width: 1920px;
  padding: 0px;
}

%NavHover {
  color: #ff4655;
  transition: all .5s ease-in-out;
}
%Caption {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  caption-side: top;
  padding: 0px;
  color: white;
  text-align: center;
  background-color: #1E1E1E;
}
%Equipos {
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
}
%Clubes {
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
}
.Header {
  ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
    padding: 10px;
    margin: 0;
    li {
      a{
        text-decoration: none;
        color: white;
        padding-left: 15px;
        &:hover {
        @extend %NavHover
        }   
      }   
    }
  }
}
.Headertop {
  ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
    padding: 10px;
    margin: 0;
    li {
      display: flex;
      color: #ffffff;
      i {
        text-decoration: none;
        color: white;
        padding-left: 15px;
        &:hover {
          @extend %NavHover
        }        
      }
    }
  }
}

.riotgameslogo {
  width: 60px;
}
.Main {
  background-image: url(../images/china1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
  padding: 10px 0px 0px 0px; 
  .ChampionsTourLogo {
    width: 160px;
  }
  .Logo {
    margin: 15px;
    display: flex;
    color: white;
    background-color: #1E1E1E;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    h1 {
      padding: 10px;
      font-size: 28px;
    }
  }
}
.col-12 {
  padding: 0px;
}
.Footer {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #121212;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
    padding: 0px;
    margin-top: 20px;
    li {
      a{
        text-decoration: none;
        color: white;
        padding-left: 40px;
        &:hover {
        @extend %NavHover
        }
      }   
    }
  }
}
.row {
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  .col-3 {
  padding: 0;
  display: flex;
  width: 230px;
  height: 320px;
  background-color: #1E1E1E;
  box-shadow: 16px 20px 20px #121212;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      height: 400px;
      width: 400px;
      background-image: conic-gradient(#ff4655 20deg, transparent 120deg);
      animation: rotar 2s linear infinite;
    }
    &::after {
      content: "";
      position: absolute;
      height: 318px;
      width: 228px;
      background-color: #1E1E1E;
      border-radius: 10px;
    }
    @keyframes rotar {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    .TeamsHome {
      border-collapse: collapse;
      color: white;
      width: 100%;
      height: 210px;
      z-index: 2;
      .CaptionIndex  {
        width: 80%;
        margin: 0px 20px;
      }
      tr {
        .Players {
          align-items: center;
          opacity: 0;
          &:hover {
            opacity: 1;
            transition: all .5s ease-in-out;
            }
            .Jugadores {
              display: flex;
              width: 100%;
              list-style-type: none;
              height: 48px;
              justify-content: flex-start;
              align-items: center;
              opacity: 1;
              background-color: #1E1E1E;
              &:hover {
                opacity: 1;
                cursor: pointer;
                padding: 0;
                transition: all .3s ease-in-out;
                background-color: #121212;
              }
            }
          .pais {
          padding: 10px;
          }
          .paisicon {
          width: 25px;
          }
        }
      }
      .stages {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 20px;
      }
      ul {
        padding: 0px;
      }
    }
          
  }
}
.leviatan {
  background-image:url(../icons/champions2024/championsteams/lev.png);
  @extend %Clubes;
}
.g2 {
  background-image:url(../icons/champions2024/championsteams/g2.png);
  @extend %Clubes;
}
.kru {
  background-image:url(../icons/champions2024/championsteams/kru.png);
  @extend %Clubes;
}
.sentinels {
  background-image:url(../icons/champions2024/championsteams/sen.png);
  @extend %Clubes;
}
.edg {
  background-image:url(../icons/champions2024/championsteams/edg.png);
  @extend %Clubes;
}
.fpx {
  background-image:url(../icons/champions2024/championsteams/fpx.png);
  @extend %Clubes;
}
.trace {
  background-image:url(../icons/champions2024/championsteams/trace.png);
  @extend %Clubes;
}
.blg {
  background-image:url(../icons/champions2024/championsteams/blg.png);
  @extend %Clubes;
}
.fnc {
  background-image:url(../icons/champions2024/championsteams/fnc.png);
  @extend %Clubes;
}
.vit {
  background-image:url(../icons/champions2024/championsteams/vit.png);
  @extend %Clubes;
}
.th {
  background-image:url(../icons/champions2024/championsteams/th.png);
  @extend %Clubes;
}
.fut {
  background-image:url(../icons/champions2024/championsteams/fut.png);
  @extend %Clubes;
}
.gg {
  background-image:url(../icons/champions2024/championsteams/gg.png);
  @extend %Clubes;
}
.drx {
  background-image:url(../icons/champions2024/championsteams/drx.png);
  @extend %Clubes;
}
.prx {
  background-image:url(../icons/champions2024/championsteams/pr.png);
  @extend %Clubes;
}
.tal {
  background-image:url(../icons/champions2024/championsteams/tal.png);
  @extend %Clubes;
}


caption  {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  caption-side: top;
  padding: 0px;
  color: white;
}
.swiper {
  width: 100%;
  padding: 150px 0px;
  height: 100%;
}
.swiper-slide {
  width: 270px;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ff4655;
  .iconsAgents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    i {
      font-size: 20px;
      color: #ffffff;
    }
  }
  .pj-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pj-txt {
      flex-basis: 50%;
      text-align: left;
      .skills {
        display: flex;
        width: 45px;
        margin: 16px 10px 0px 0px;
      }
      span {
        font-size: 25px;
        color: #ffffff;
        font-weight: bold;
      }
    }
    .pj-img {
      position: absolute;
      flex-basis: 50%;
      text-align: right;
      img {
        width: 300px;
      }
    }
  }
}
#Vyse {
  background: linear-gradient(rgba(5, 7, 12, 0.9),rgba(5, 7, 12, 0.6)),url(../images/agents/vyse/vysebckg.webp);
}
#Astra {
  background: linear-gradient(rgba(5, 7, 12, 0.9),rgba(5, 7, 12, 0.6)),url(../images/agents/astra/astrabckg.webp);
}
#Clove {
  background: linear-gradient(rgba(5, 7, 12, 0.9),rgba(5, 7, 12, 0.6)),url(../images/agents/clove/clovebckg.webp);
}
#Iso {
  background: linear-gradient(rgba(5, 7, 12, 0.9),rgba(5, 7, 12, 0.6)),url(../images/agents/iso/isobckg.webp);
}
#Fade {
  background: linear-gradient(rgba(5, 7, 12, 0.9),rgba(5, 7, 12, 0.6)),url(../images/agents/fade/fadebckg.webp);
}
#Chamber {
  background: linear-gradient(rgba(5, 7, 12, 0.9),rgba(5, 7, 12, 0.6)),url(../images/agents/chamber/chamberbckg.webp);
}
#Harbor {
  background: linear-gradient(rgba(5, 7, 12, 0.9),rgba(5, 7, 12, 0.6)),url(../images/agents/harbor/harborbckg.webp);
}
#Reyna {
  background: linear-gradient(rgba(5, 7, 12, 0.9),rgba(5, 7, 12, 0.6)),url(../images/agents/reyna/reynabckg.webp);
}
#Geeko {
  background: linear-gradient(rgba(5, 7, 12, 0.9),rgba(5, 7, 12, 0.6)),url(../images/agents/geeko/geekobckg.webp);
}
#Cypher {
  background: linear-gradient(rgba(5, 7, 12, 0.9),rgba(5, 7, 12, 0.6)),url(../images/agents/cypher/cypherbckg.webp);
}
.col-4 {
  padding: 0;
  display: flex;
  width: 500px;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
  position: relative;
  overflow: hidden;
  .Masterslogos {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #1E1E1E;
    box-shadow: 16px 20px 20px #121212;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  .tablas{
    display: flex;
    .shangai {
      @extend %Tablas;
      @extend %Masters;
    }
    .madrid {
      @extend %Tablas;
      @extend %Masters;
    }
  }
}
%Tablas {
  width: 300px;
  height: 300px;
  background-color: #1E1E1E;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
%Masters {
  .hovertabla {
    display: flex;
    height: 75px;
    .medalla {
      display: flex;
      width: 50px;
      align-items: center;
      justify-content: center;
    }
    .rewards {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75px;
    }
    .clubmasters {
      display: flex;
      padding: 0px 0px 0px 25px;
      align-items: center;
      justify-content: center;
    }
  }
}
.nameclub {
  padding-left: 10px;
}
.CarruselSkins {
  display: flex;
  justify-content: center;
  padding: 150px 100px 100px 100px;
}

